<div class="container">
  <div class="row mt-5" >

      <div class="col-lg-1"></div>
      <div class="col-lg-5 ">
          <br>
          
          <img  style="width: 100%; height: 100%;" src="https://cdni.iconscout.com/illustration/premium/thumb/employees-working-on-presentation-3474701-2928587.png" alt="" >

      </div>
      
      <div class="col-lg-5 d-flex justify-content-center align-items-center border shadow  ">
          <form #loginform ="ngForm"  (ngSubmit)="login()"  action="" class=" w-100 p-2 ">
              <h2 class="text-center"> <b>Login <span class="text-danger">Now</span></b></h2>
              <br>

             
              <div>
              <input type="text" class="form-control mb-3" placeholder="enter your Email"   email required [(ngModel)]="email" name="email" #useremail = "ngModel">
            <span *ngIf="useremail.invalid && useremail.touched"  class="text-danger">Invalid Email</span>
            </div>
            <div>
              <input type="text" class="form-control mb-3" placeholder="enter Password" name="password" required pattern="^(?=.[a-z])(?=.*[A-Z])(?=.*\d).{4,}$" [(ngModel)]="password" #userpswd = "ngModel">
           <span *ngIf="userpswd.invalid && userpswd.touched"  class="text-danger">Invalid Password</span>
            </div>
            <div style="text-align: center;" >  <button  [disabled]="loginform.invalid" class="btn btn-dark mt-2 w-25 tex" type="submit">Login</button></div>
             
              
          </form>
      </div>


      <div class="col-lg-1"></div>
  </div>
</div>