<div class="row">
  <div class="col-lg-2  d-flex flex-column p-5" style="height: 720px; background-color:  #3e3e7a;">
      <a routerLink="/dashboard" class="mb-3" style="text-decoration: none; color: #ed4f4f; font-size: 18px;"><i class="fa-solid fa-house me-2"></i>Dashboard</a>
      <a  routerLink="/employees" style="text-decoration: none; color: white;font-size: 18px;"><i class="fa-solid fa-user me-2"></i>Employee List</a>


  </div>
  <div class="col-10">
    
    <div class="userlist ms-5 me-5 mt-3">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="mt-3">User List</h1>
        <a routerLink="/employee/add">
          <button class="p-1 rounded  "><i class="fa-solid fa-user-plus"></i>Add</button>
        </a>
    
      </div>
      <div class="second d-flex justify-content-between align-items-center  mt-5 d-flex">
    
        <div class="d-flex align-items-center">
    
          <input class="form-control" type="text" value="Search" placeholder="search" style="width: 300px; height: 35px;">
    
          <div class="dropdown ms-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
    
        </div>
        <input style="float: right;" type="button" value="Export" class="btn me-2 btn-success" />
    
    
    
      </div>
    
      <table class="table mt-5">
        <thead>
          <tr  >
            <th scope="col">User ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of allEmployeeget" [hidden]="employee.id=='1'">
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.name}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.status=='1'?'Active':'InActive'}}</td>
            <td>
              <button type="button" class="btn"><a routerLink="/employee/edit/:id"  ><i class="fa-solid fa-pen" style="color: #00ff1e;"></i></a></button>
              <button type="button" class="btn"><i class="fa-solid fa-trash" style="color: #ff0000;"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
    
    </div>
  </div>
</div>